@import url("../webfonts/CamcorderREG/stylesheet.css");

#video {
	position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    max-width: 4000%;
    max-height:4000%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}
a {
	color: transparent;
	text-shadow: 0px 0px 1px #fbfaf1;
	font-family: CamcorderREG;
	position: absolute;
	size: 8;
}